.col-md-12.event_header
  %h2
    Administrator Full Details
  %hr
  %h4
    Application
  != ap application
  %h6
    Prefered Jobs
  != ap application.preferred_jobs
  %h4
    Applicant
  != ap applicant
  %h6
    Skills
  != ap applicant.skills