
%tr
  %td 
    = link_to application.user.full_name, application.user
  %td 
    = application.updated_at.strftime("%d/%m/%Y")
  %td 
    - if application.accepted?
      Yep
    - else
      = link_to "Approve", approve_application_for_event_path(application), remote: true, class: "btn btn-info"
  %td
    TODO
