.col-md-12
  .nested-fields.row
    .col-md-6
      = f.input :name, label: "Qualification / Skill"
    .col-md-6  
      = f.input :proof_document
    .col-md-12   
      = link_to_remove_association "- delete skill", f