/ Button trigger modal
/ %button.btn.btn-info{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
/   Launch demo modal
/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title IMPORTANT INFORMATION ABOUT VOLUNTEERING
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %ul
          %li
            You must be 18+ years of age to volunteer.
          %li
            Volunteers must attend a general volunteer meeting in Melbourne to be scheduled in October
          %li
            Volunteers complete 1 x 8hr shift during the event, unless otherwise specified. Volunteers cannot choose shift time/date, this will be allocated at random by management. 
          %li          
            All volunteers will receive a complimentary ticket to Strawberry Fields in exchange for their commitment
          %li
            All volunteers must follow Strawberry Fields sign-in/sign-out procedure in order to validate their attendance at their scheduled shift
          %li
            All volunteers contribute a $15 application processing fee via Stripe to cover the cost of a fresh and limited edition Strawberry Fields T-shirt as well as administrative costs
          %li
            Volunteer credit card payment details will be kept on file – in the event that a volunteer does not complete their scheduled shift they will be charged a fee to the total of $340
          %li 
            Once registered, any volunteer that pulls out within 21 days of the event start date (without written evidence of a serious and valid excuse) will be charged the above penalty fee
          %li
            Volunteers must accept and comply with Strawberry Fields Indemnity & Volunteer Agreement in order to fulfil volunteer obligations and receive complimentary entry
      .modal-footer
        %button.btn.btn-info#accept-terms{"data-dismiss" => "modal", :type => "button"} I Agree

:javascript
  $('#accept-terms').click(function() {
    $('#application_for_event_terms_accepted').prop('checked', true)
  });