- content_for :hero_title do
  = "Volunteer Applications"
  %br
  %h3= "for: #{@event.name}"
  

.col-md-10.col-md-offset-1.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        %table.table.table-hover
          %thead
            %tr
              %th #
              %th Volunteer
              %th Submitted
              %th Accept
              %th Shift
              %th Application
              %th Rating
          %tbody
            = render partial: "application", collection: @applications

:javascript
  $('.star-rating').raty({
        path: '/assets/',
        score: function() {
              return $(this).attr('data-score');
        },
        scoreName: 'application_for_event[rating]'
    });
    $('.star-rating img').click(function() {
      form = $(this).closest('form')[0]
      console.log(form);
      Rails.fire(form, 'submit')
    });
