.row
  .col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Volunteer
          %th Submitted
          %th Accept
          %th Shift
      %tbody
        = render partial: "application", collection: @applications
