.row
  .col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        = render partial: "application", collection: @applications
