.login-links.row.omniauth-links
  - resource_class.omniauth_providers.each do |provider|
    .col-sm-12
      = link_to(omniauth_authorize_path(resource_name, provider), class: "btn btn-primary signin-button") do
        %i.fa.fa-facebook.left
        = "Sign in with #{OmniAuth::Utils.camelize(provider)}"
    .col-sm-2.offset-md-5.seperator
      = "or"
