%h5
  My Applications
.user-details.panel.default
  - @user.applications.each do |app|
    .row
      .col-md-4
        = app.event.name
      .col-md-5
        Status: 
        - if app.accepted?
          Accepted
        - else
          Waiting Approval
      .col-md-3
        / # = link_to 'Edit my application', edit_application_for_event_path(app)
        Applications are closed
      - if app.accepted?
        %br
        %hr
        .col-md-3
          = "Actions:"
        .col-md-10
        - if app.invitation_accepted?
          %span{style: "color: green;"}
            Your volunteer spot is secure.  You'll soon receive your shift schedule.
        - else
          = link_to "Accept my spot", accept_invitation_application_for_event_path(app), class: "btn btn-info"