/ Renders the header section content
- content_for :page_title do
  %h1 Manage Your Account
- content_for :page_sub_title do
  %p It's easy to manage your account.  Quickly access or update your information.

/ Renders the user's details
- content_for :profile do
  = render "user_details"

= render 'applications'

/ %hr

= render 'form'

/ %hr

= render 'users/registrations/cancel_account'

/ %hr

/ = link_to 'Show', @user
/ \|
/ = link_to 'Back', users_path
