%tr
  %td.wrapper
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td
          %p Hi there,
          %br
            = "This is a reminder that your volunteer application for #{@event.name} 2017 has been approved!"
          %br
          %p The deadline to accept your volunteer offer is midday on 23 September. 
          %p
            %i{style: "padding: 0 25px; display: block"} If you previously had trouble accepting your spot with your saved credit card, you are now able to add a new card.  If you continue to have issues accepting your spot, please email our developers at info@builtincode.com.
          %br
          %p Please login to your account to accept or decline your position.
          %br
          %table.btn.btn-primary{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr
                %td{:align => "left"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %tbody
                      %tr
                        %td
                          = link_to @url, target: "_blank" do
                            Login to accept / decline your spot
          %br
          %p We need to confirm all positions by midday September 23rd, so if you have not accepted your position by then, and have not contacted us with any issues, we will offer your spot to the next person on the waiting list.
          %p Upon accepting your position, your saved credit card will be charged $15 for you Volunteer T-shirt.  If you accept your position and do not make your shift, you will be liable for the full cost of a ticket plus a penalty fee totalling $360.
          %p You'll need to attend a volunteer meeting (which will most likely be held in Melbourne on 29 October). If you are a Ranger and cannot make the pre-festival training session, you will need to complete an onsite training session before you can complete your shifts.
          %p Apologies if you have emailed with a query in recent days, we have been having issues receiving emails to the volunteers@strawberry-fields.com.au email address, but we will get back to you as soon as we can.
          %br
          %p Much Love,
          %p Strawberry Fields