%tr
  %td.wrapper
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td
          %p Hi there,
          %br
          %p= "Thanks for your recent application to volunteer at #{@event.name} this year.  It was an extremely difficult task to narrow down the hundreds of applications to a final team."
          %br
          %p Unfortunately your application has not been successful in this round. We hope that you will apply again next year, and that you'll keep an eye on you're emails in case we need to fill any more spaces in the coming months. We will be keeping your application on file should any further spaces become available. 
          %p We hope to see you in the Wildlands in any case! 
          %br
          %p Much Love,
          %p= @event.name