.event_day .panel, .event_header .panel {
  margin-bottom: 20px;
  background-color: #fff;
  min-height: 370px;
  color: #687680;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  .excellent {
    visibility: hidden;
  }
}

.event_header {
  margin-top: 3em;
  margin-bottom: 3em;

  .panel {
    min-height: auto;
    padding: 2em 0;
  }
}


.event_body {
  margin-bottom: 3em;
}

.upper_header {
  margin-top: 3em;
  margin-bottom: -2em;

  .panel {
    min-height: auto;
    padding: 1em;
  }
}

.lower_footer {
  margin-top: -2em;
  margin-bottom: 3em;

  .panel {
    min-height: auto;
    padding: 1em;
    &.with-pagination{
      padding: 0;
    }
  }
}

.assigned_shift {
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin: 5px 0;
  position: relative;
  * {
    display: inline-block;
  }
  &.unassigned {
    padding-bottom: 0;
  }
  .remove {
    position: absolute;
    right: 10px;
    top: 15px;
  }
}