// input:not(.btn):not(.boolean), select, textarea {
//     // background-image: none;
//     border: 2px solid #CFCCCF;
//     border-radius: 3px;
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
//     color: #021829;
//     height: 2.625em;
//     line-height: 1.5;
//     width: 100%;
//     outline: 0;
// }

// Styling for errored fields
// .has-error {
//     input {
//         border: 2px solid #CF2E2E;
//         background: #F8E2E2;
//         box-shadow: 0 0 0 1000px #F8E2E2 inset;
//     }
// }

.form-horizontal {
    div.checkbox.inline {
        .control-label {
            text-align: left;
        }
    }
}

.login-links {
    margin-top: 1em;
    font-size: .9em;
}

label {
    color: #67747f;
    font-size: .9em;
}

abbr[title] {
    text-decoration: none;
}

// Login form
.signin-text, .signin-text-password {
    background-image: image-url("avatar_un.png")!important;
    background-repeat: no-repeat;
    background-position: 3%;
    padding-left: 10%;
    font-size: 16px;
    color: #0E161E;
}

.signin-text-password {
    background-image: image-url("locked_pwd.png")!important;
}

.signin-button {
    width: 100%;
    display: block;
    margin: 10px 0 0;
    padding: 12px 16px;
}