// Place all the styles related to the applies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row.filters {
  display: flex;
  align-items: center;
}

td.centered {
  text-align: center;

  &.assigned {
    background-color: #c5f9bf;
  }
}