.header.clearfix {
  padding: 10px 0;
  background: #353636;
  border-bottom: 2px solid rgba(0,0,0,.1);
}

.header-logo{
  height:45px;
}

.header-inner{
  height: 60px;
}

.nav{
  align-items: center;
  height: 100%;
}