main{
  min-height: 77vh;
  width: 100%;
  background-color: #f4f2f3;
  overflow: hidden;
  &#login{
    background-color: #fff;
  }
}

.jumbotron{
  position: relative;
  background-image: image-url("main-bg-strawberry.jpg");
  background-position: center 85%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #f4f2f3;
  min-height: 20rem;
  .container {
    width: 100%;
  }
  &.full-page{
    height: 100vh;
    margin: 0 !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    img{
      width: 400px;
    }
    .top-fixed{
      position: fixed;
      top: 100px;      
    }
    .bottom-fixed{
      position: fixed;
      bottom: 100px;
      left: 0;
      right: 0;
      .centered{
        margin: 0 auto;
      }
    }
  }
}

.full-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(136, 125, 102);
  opacity: 0.2;
  transition: background 170ms ease-out,opacity 170ms ease-out;
}

// Overrides bootstrap default
.nav {
  display: flex;
  li a{
    color: $brand-info;
  }
}
