main{
  min-height: 77vh;
  width: 100%;
  background-color: #f4f2f3;
  &#login{
    background-color: #fff;
  }
}

.jumbotron{
  background-image: url("main-bg.jpg");
  background-position: center 85%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #f4f2f3;
  min-height: 20rem;
}