- content_for :hero_title do
	Information about volunteering
.col-md-12.event_header
	.panel.default
		%ul
			%li
				You must be 18+ years of age to volunteer.
			%li
				Volunteers must attend an induction session in Melbourne, to be scheduled in October
			%li
				Volunteers complete 1 x 8hr shift during the event, unless otherwise specified. Volunteers cannot choose shift time/date, this will be allocated at random by management. 
			%li          
				All volunteers will receive a complimentary ticket to Strawberry Fields in exchange for their commitment
			%li
				All volunteers must follow Strawberry Fields sign-in/sign-out procedure in order to validate their attendance at their scheduled shift
			%li
				All volunteers contribute a $15 application processing fee via Stripe to cover the cost of a fresh and limited edition Strawberry Fields T-shirt as well as administrative costs
			%li
				Volunteer credit card payment details will be kept on file – in the event that a volunteer does not complete their scheduled shift they will be charged a fee to the total of $360
			%li 
				Once registered, any volunteer that pulls out within 21 days of the event start date (without written evidence of a serious and valid excuse) will be charged the above penalty fee
			%li
				Volunteers must accept and comply with Strawberry Fields Indemnity & Volunteer Agreement in order to fulfil volunteer obligations and receive complimentary entry