- if user_signed_in?
  %li.nav-item
    = link_to('My Details', edit_user_path(current_user), class: 'nav-link')
- else
  %li.nav-item
    = link_to('Register', new_user_registration_path, class: 'nav-link')
