.hides{
  visibility: hidden;
}
.float-right{
  float: right;
}
.pad-bottom {
  padding-bottom: 10px;
}
.pad-top {
  padding-top: 10px;
}
.pad-me {
  margin: 10px 0;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}