// 
// Locals
//
$main-brown: #83610b;

// 
// Bootstrap
// 
// Colors
$brand-info: #fff;
// $link-color: rgba(84,84,84,.6);
$close-color: $brand-info;
$close-text-shadow: none;
// $text-color: $brand-info;

// Modals
$modal-backdrop-bg: rgb(136, 125, 102);
$modal-backdrop-opacity: .9;
$modal-content-bg: #fff;
$modal-header-border-color: $modal-content-bg;
$modal-content-border-color: $modal-content-bg;

// Nav
$nav-link-hover-bg: transparent;

$btn-info-color: $main-brown;
$btn-default-bg: #333;
$btn-default-color: $brand-info;
$border-radius-base: 0px;
$border-radius-large: 0px;
// $link-hover-color: $li

// Forms
$input-bg: #fafafa;
