.header.clearfix
  .container
    %nav
      %ul.nav.nav-pills.float-right
        %li.nav-item
          =link_to("Events", root_path, class: "nav-link #{active_class(root_path)}")
        %li.nav-item
          =link_to("Volunteers", users_path, class: "nav-link #{active_class(users_path)}")              
        = render 'users/menu/registration_items'
        = render 'users/menu/login_items'                
    %h3.text-muted Volunteer Management         