!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag    'mail', media: 'all'
    %title Contact From Strawberry Fields
  %body
    %table.body{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td  
        %td.container
          .content
            / START CENTERED WHITE CONTAINER
            %span.preheader Strawberry Fields Music Festival Emails
            %table.main
              / START MAIN CONTENT AREA
              = yield
              / END MAIN CONTENT AREA
            / START FOOTER
            .footer
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td.content-block
                    %span.apple-link Strawberry Fields Music Festival
                    %br/
                    / Don't like these emails?
                    / = succeed "." do
                    /   %a{:href => "http://i.imgur.com/CScmqnj.gif"} Unsubscribe
                %tr
                  %td.content-block.powered-by
                    Powered by Beat Matchers
            / END FOOTER
            / END CENTERED WHITE CONTAINER
        %td  
